img {
    border-radius: 0;
}

.content {
    max-width: 960;
    margin: 0 auto;
    background: white;
    font-size: 24px;
    padding-top: 4vh;
}

#parallax-blog-list {
    background: url('../../img/type-machine.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 5vh 0 5vh;
    color: yellow;
    text-shadow: .15rem .15rem #ee27f0;
}

.parallax {
    height: 100vh;
}

.parallax-text {
    position: absolute;
    top: 30%;
}

.parallax-text span {
    font-size: 3rem;
    font-weight: bold;
}

.parallax-text p {
    font-size: 1.5rem;
}

.content-tails {
    background-color: #ee27f0;
    padding: .9rem;
}

.headers {
    padding-left: .9rem;
    font-size: 48px;
    color: #f8d210;
    text-shadow: .15rem .15rem #f51720;
}

.tail {
    min-height: 51vh;
    padding: 1.2rem;
    cursor: pointer;
}

.tail p {
    padding-top: .9rem;
    font-size: 1.2rem;
    color: white;
    text-shadow: .09rem .09rem #f51720;
}

.faded {
    opacity: .69;
}