html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width:100%;
  max-height:100%;
  border-radius: .75rem;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5ce1e6;
  font-family: "Poppins", sans-serif;
  z-index: 100;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: .3125rem;
  font-size: 1.25rem;
  text-shadow: .05625rem .05625rem #ff11ff;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 57%;
}

.nav-links li {
  list-style: none;
  margin-top: 1.2vh;
}

.nav-links a {
  color: 	#ffdf2b;
  text-shadow: .03125rem .03125rem #ff11ff;
  text-decoration: none;
  letter-spacing: .125rem;
  font-weight: bold;
  font-size: .9rem;
}

.nav-links a:hover {
  color: white;
}

.burger {
  display: none;
}

.burger div {
  width: 1.5625rem;
  height: .1875rem;
  background-color: rgb(226, 226, 226);
  margin: .3125rem;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
      width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
      overflow-x: hidden;
  }
  
  .nav-links {
    position: fixed;
    right: 0px;
    height: 51vh;
    top: 6.2vh;
    background-color: #5ce1e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  
  .nav-links li {
      opacity: 0;
  }
  
  .burger {
      display: block;
      cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
  height: 51vh;
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(3.125rem);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-.3125rem, .375rem);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-.3125rem, -.375rem);
}








